<h1>New Artist Form</h1>

<%= form_for :artist, url: "/artists" do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :bio %>
    <%= f.text_field :bio %><br>

    <%= f.label :songs %>
    <%= f.text_field :songs%><br>
    <%= f.label :genres %>
    <%= f.text_field :genres %><br>
    <%= f.submit "Create Artist" %>
<% end %>